@model Event

<div class="container-fluid">
    <div class="image-container" style="background-image: url(@Model.ImageUrl);">
        <div class="text">@Model.Name</div>
    </div>
    <h1>Event page</h1>

    <div class="row">
        <div class="col-sm-6" style="background-color:lavender; height:500px;">
            <br />
            <img src="@Model.ImageUrl" class="sticky" alt="avatar_img" style="width:100%;">
            <h2>@Model.Name</h2>
            <p>@Model.ShortDescription</p>
            <p><b>Some info about event..</b></p>
            <div class="col-lg-6" style="padding-bottom:100px;">
                <a>
                    <input type="submit" value="Register" class="edit" />
                </a>
            </div>
            <br />
        </div>
        <div class="col-sm-6" style="background-color:lavenderblush; height:500px;">
            <h2>@Model.Name</h2>
            <p>Some example text..</p>
            <p><b>Some anouther example text..</b></p>

            <div style="background-color:azure; height:200px; border:solid;">

            </div>
            <br />
            <div style="background-color:azure; height:200px; border:solid;">

            </div>

        </div>
    </div>
</div>