@model Event 

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="" />
        <div class="caption">
            <p class="pull-right">@Model.ScheduledAt.ToShortDateString()</p>
            @*<h3 class="pull-right">@e.ScheduledAt.ToShortTimeString()</h3>*@
            <h5>
                <a>@Model.Name</a>
            </h5>
            <p>@Model.Category.Name</p>
            <div class="row">
                <div class="col-lg-6">
                    @using (Html.BeginForm("Delete", "Events", Model))
                    {
                        <input type="submit" value="Delete" />
                    }
                </div>
                <div class="col-lg-6" style="text-align: right">
                    @using (Html.BeginForm("Edit", "Events", Model))
                    {
                        <input type="submit" value="Edit" />
                    }
                </div>
            </div>
            

            @*To do: add short descriptions*@
        </div>
    </div>
</div>