@model Event


<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="" />
        <div class="caption">
            <p class="pull-right">@Model.ScheduledAt.ToShortDateString()</p>
            @*<h3 class="pull-right">@e.ScheduledAt.ToShortTimeString()</h3>*@
            <h5>
                <a>@Model.Name</a>
            </h5>
            <p>@Model.Category.Name</p>
            @if (User.IsInRole("Official"))
            {
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("Edit", "Events", Model))
                        {
                            <input type="submit" value="Edit" class="edit" />
                        }
                    </div>
                    <div class="col-lg-6" style="text-align: right">
                        @using (Html.BeginForm("Delete", "Events", Model))
                        {
                            <input type="submit" value="Delete" class="delete" />
                        }
                    </div>
                </div>
            }
            else if (User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="col-lg-6" style="text-align: right">
                        @using (Html.BeginForm("Delete", "Events", Model))
                        {
                            <input type="submit" value="Delete" class="delete" />
                        }
                    </div>
                </div>
            }


            @*To do: add short descriptions*@
        </div>
    </div>
</div>