<div class="container-fluid">
    <h1>Your profile</h1>
    
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender; height:550px;">
            <br />
            <img src="~/Images/img_avatar.png" class="sticky" alt="avatar_img" style="width:100%;">
            <h2>@UserManager.GetUserName(User)</h2>
            <p>Some info about you..</p>
            <p><b>Some anouther info about you..</b></p>
            <div class="col-lg-6" style="padding-bottom:100px;">
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <input type="submit" value="Log off" class="delete" />
                </a>
            </div>
            <br />
        </div>
        <div class="col-sm-8">
            <p>Some example text..</p>
            <p><b>Some anouther example text..</b></p>
            <div class="row">
                @if (User.IsInRole("Official"))
                {
                    <div class="col-lg-6" style="text-align: left">
                        <a asp-controller="Events" asp-action="Create">
                            <input type="submit" value="Create event" class="edit" />
                        </a>
                    </div>
                }
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-lg-6" style="text-align: left">
                        <a asp-controller="Roles" asp-action="Index">
                            <input type="submit" value="Roles" class="edit" />
                        </a>
                    </div>
                }
            </div>

            <p style="margin-top: 30px;">
              <b>List of my events:</b>
            </p>
            @{
              foreach (Event e in @ViewBag.UserEvents)
              {
                <div class="user-event" style="background-image: url(@e.ImageUrl)">
                  <p class="text-bold">@e.Name</p>
                  <p>@e.ShortDescription</p>
                  <p>@e.Category.Name</p>
                  <p>@e.ScheduledAt</p>
                </div>
              }
            }
        </div>
    </div>
</div>