<div class="container-fluid">
    <h1>Profile</h1>
    
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender; height:550px;">
            <br />
            <img src="~/Images/img_avatar.png" class="sticky" alt="avatar_img" style="width:100%;" />
            <h2>@UserManager.GetUserName(User)</h2>
            <p>Some info about you..</p>
            <p><b>Some anouther info about you..</b></p>
            <div class="col-lg-6" style="padding-bottom:100px;">
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <input type="submit" value="Log off" class="delete" />
                </a>
            </div>
            <br />
        </div>
        <div class="col-sm-8">
            <div class="row">
                @if (User.IsInRole("Official"))
                {
                    <div class="col-lg-6" style="text-align: left">
                        <a asp-controller="Events" asp-action="Create">
                            <input type="submit" value="Create event" class="edit" />
                        </a>
                    </div>
                }
                @if (User.IsInRole("Admin"))
                {
                    <div style="text-align: center">
                        <h3><b>Admin panel</b></h3>
                        <a asp-controller="Roles" asp-action="Index">
                            <input type="submit" value="Roles" class="edit" style="width:100px;"/>
                        </a>
                        <a asp-controller="Roles" asp-action="UserList">
                            <input type="submit" value="Users" class="edit" style="width:100px;"/>
                        </a>
                    </div>
                }
            </div>
            <div class="row">
                @if (User.IsInRole("Official"))
                {
                    <p style="margin-top: 15px;">
                        <b>List of my events:</b>
                    </p>
                    @foreach (Event e in @ViewBag.UserEvents)
                    {
                        <div class="event-container">
                            <div class="event-image" style="background-image: url(@e.ImageUrl)"></div>
                            <div class="event-info">
                                <div class="event-info-container">
                                    <span class="text-title">
                                        <a asp-controller="Events" asp-action="Show" asp-route-id="@e.Id" class="text-title">
                                            @e.Name
                                        </a>
                                    </span>
                                    <span class="text-description">@e.ShortDescription</span>
                                    <span>@e.Category.Name</span>
                                    <span>Starts at: @e.ScheduledAt</span>
                                </div>
                            </div>
                            <div class="event-actions">
                                <span><a class="btn btn-primary" asp-controller="Events" asp-action="Edit" asp-route-id="@e.Id">Edit</a></span>
                                <span class="mt-10">
                                    <form asp-controller="Events" asp-action="Delete" asp-route-id="@e.Id" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </span>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>